body {
    margin: 100px;
    padding: 0px;
    background: black;
}

svg{
    width:2800px;
    aspect-ratio: 1/1;
}


.ring-years-background      { stroke : #00aaaa ;  stroke-opacity : 0.3 ;  stroke-width : 20 ; }
.ring-years-outer           { stroke : #00ffff ;  stroke-opacity : 0.7 ;  stroke-width : 2  ; }
.ring-years-inner           { stroke : #00ffff ;  stroke-opacity : 0.7 ;  stroke-width : 1  ; }
.ring-years-separator       { stroke : #00ffff ;  stroke-opacity : 0.7 ;  stroke-width : 1  ; }
.ring-years-text            { fill   : #00ffff ;  fill-opacity   : 1.0 ;                      }

.ring-months-background     { stroke : #aa0000 ;  stroke-opacity : 0.3 ;  stroke-width: 20 ; }
.ring-months-inner          { stroke : #ff0000 ;  stroke-opacity : 0.7 ;  stroke-width: 1  ; }
.ring-months-separator      { stroke : #ff0000 ;  stroke-opacity : 0.7 ;  stroke-width: 1  ; }
.ring-months-text           { fill   : #ff0000 ;  fill-opacity   : 1.0 ;                     }

.ring-date-background       { stroke : #0000aa ;  stroke-opacity : 0.3 ;  stroke-width: 20 ; }
.ring-date-inner            { stroke : #0000ff ;  stroke-opacity : 0.7 ;  stroke-width: 1  ; }
.ring-date-separator        { stroke : #0000ff ;  stroke-opacity : 0.7 ;  stroke-width: 1  ; }
.ring-date-text             { fill   : #0000ff ;  fill-opacity   : 1.0 ;                     }

.ring-days-background       { stroke : #aaaa00 ;  stroke-opacity : 0.3 ;  stroke-width: 20 ; }
.ring-days-inner            { stroke : #ffff00 ;  stroke-opacity : 0.7 ;  stroke-width: 1  ; }
.ring-days-separator        { stroke : #ffff00 ;  stroke-opacity : 0.7 ;  stroke-width: 1  ; }
.ring-days-text             { fill   : #ffff00 ;  fill-opacity   : 1.0 ;                     }

.ring-hours-background      { stroke : #aa00aa ;  stroke-opacity : 0.3 ;  stroke-width: 20 ; }
.ring-hours-inner           { stroke : #ff00ff ;  stroke-opacity : 0.7 ;  stroke-width: 1  ; }
.ring-hours-separator       { stroke : #ff00ff ;  stroke-opacity : 0.7 ;  stroke-width: 1  ; }
.ring-hours-text            { fill   : #ff00ff ;  fill-opacity   : 1.0 ;                     }

.ring-minutes-background    { stroke : #aaaaaa ;  stroke-opacity : 0.3 ;  stroke-width: 20 ; }
.ring-minutes-inner         { stroke : #ffffff ;  stroke-opacity : 0.7 ;  stroke-width: 1  ; }
.ring-minutes-separator     { stroke : #ffffff ;  stroke-opacity : 0.7 ;  stroke-width: 1  ; }
.ring-minutes-text          { fill   : #ffffff ;  fill-opacity   : 1.0 ;                     }

.ring-seconds-background    { stroke : #00aa00 ;  stroke-opacity : 0.3 ;  stroke-width: 20 ; }
.ring-seconds-inner         { stroke : #00ff00 ;  stroke-opacity : 0.7 ;  stroke-width: 1  ; }
.ring-seconds-separator     { stroke : #00ff00 ;  stroke-opacity : 0.7 ;  stroke-width: 1  ; }
.ring-seconds-text          { fill   : #00ff00 ;  fill-opacity   : 1.0 ;                     }
